#home-view .alert {
    position: fixed;
    top: 4rem;
    right: 1rem;
    z-index: 2
}

#home-view .alert .close {
    margin-left: .5rem
    
}

#profile-layout {
    background:linear-gradient(green,#7F7FD5 , #91EAE4,rgb(106, 75, 75))
}

@media screen and (min-width: 998px) {
    #profile-home-view #infos {
        padding-top:20px
    }
}

@media screen and (max-width: 997px) {
    #profile-home-view #infos {
        display:none
    }
}

#profile-home-view #projects {
    border-top: 1px solid #e8e8e8
}

@media screen and (min-width: 998px) {
    #profile-home-view #projects {
        margin-top:60px;
        padding-top: 51px
    }
}

@media screen and (max-width: 997px) {
    #profile-home-view #projects {
        padding-top:30px
    }
}

.info {
    display: block;
    text-align: center;
    padding-bottom:30px
}

.info[href="javascript:void"] {
    cursor: default
}

@media screen and (min-width: 998px) {
    .info {
        margin-top:40px
    }
}

@media screen and (max-width: 997px) {
    .info {
        margin-top:16px;
        text-shadow: 1px 1px rgba(0,0,0,0.1)
    }
}

@media screen and (min-width: 998px) {
    .info>header {
        color:#c8c8c8
    }
}

@media screen and (max-width: 997px) {
    .info>header {
      color: #2f81a8;
    }
}

@media screen and (min-width: 998px) {
    .info>header i {
        font-size:2rem
    }
}

@media screen and (max-width: 997px) {
    .info>header i {
        margin-right:.5rem
    }
}

.info .info-title {
    margin-top: .75rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 12px
}

@media screen and (max-width: 997px) {
    .info .info-title {
        display:inline-block
    }
}

.info .info-text {
    margin-top: 8px;
    letter-spacing: 0.8px
}

@media screen and (min-width: 998px) {
    .info .info-text {
        color:#d04444
    }
}

@media screen and (max-width: 997px) {
    .info .info-text {
        display:inline-block;
        color: rgb(110, 80, 80)
    }
}

.info .info {
    display: block
}

@media screen and (max-width: 997px) {
    .info .info {
        color:rgba(125, 65, 65, 0.8)
    }
}
.name{
  font-style: Arial;
  color:red;
}
.presenter {
    max-width: 1440px;
    margin: 0 auto
}

.presenter .presenter-basic {
    background: linear-gradient(135deg, #009bec, #91ffa3), linear-gradient(#c4c4c4, #c4c4c4);
    opacity: 0.65;
    text-align: center;
    padding-bottom: 49px;
    padding-top: 43px;
    position: relative
}

@media screen and (min-width: 998px) {
    .presenter .presenter-basic {
        background:linear-gradient(240deg, #009bec, #91ffa3), linear-gradient(#c4c4c4, #c4c4c4);
        opacity: 0.65;
        width: 424px;
        height: 390px;
        float: left
    }
}

@media screen and (max-width: 997px) {
    .presenter .presenter-basic {
        padding-left:1rem;
        padding-right: 1rem
    }
}

@media screen and (min-width: 998px) {
    .presenter .presenter-basic .presenter-background {
        display:none
    }
}

.presenter .presenter-basic .presenter-avatar {
    margin-bottom: 20px
}

.presenter .presenter-basic .presenter-avatar .user-avatar {
    border-radius: 100%
}

@media screen and (min-width: 998px) {
    .presenter .presenter-basic .presenter-avatar .user-avatar {
        width:191px;
        height: 191px
    }
}

@media screen and (max-width: 997px) {
    .presenter .presenter-basic .presenter-avatar .user-avatar {
        border:8px solid rgba(0,0,0,0.1);
        width: 138px;
        height: 138px
    }
}

.presenter .presenter-basic .presenter-name {
    font-size: 28px;
    letter-spacing: 0.8px;
    margin-bottom: 1.5rem;
    font-weight: 300
}

@media screen and (min-width: 998px) {
    .presenter .presenter-basic .presenter-name {
        color:#343434
    }
}

@media screen and (max-width: 997px) {
    .presenter .presenter-basic .presenter-name {
        color:white
    }
}

@media screen and (min-width: 998px) {
    .presenter .presenter-basic .social {
        color:#999
    }
}

@media screen and (max-width: 997px) {
    .presenter .presenter-basic .social {
        color:rgba(255,255,255,0.8)
    }
}

.presenter .presenter-basic .infos {
    margin-top: 1rem
}

@media screen and (min-width: 998px) {
    .presenter .presenter-basic .infos {
        display:none
    }
}

.presenter .presenter-details {
    position: relative
}

@media screen and (min-width: 998px) {
    .presenter .presenter-details {
        margin-left:424px;
        height: 390px;
        padding: 53px 70px;
        color: #292b2c;
    }
}

@media screen and (max-width: 997px) {
    .presenter .presenter-details {
        padding:40px 28px 8px;
        color: rgba(72,72,72,0.8)
    }

    .presenter .presenter-details .background {
        display: none
    }
}

@media screen and (min-width: 998px) {
    .presenter .presenter-details>header {
        padding-bottom:25px;
        margin-bottom: 36px
    }
}

@media screen and (max-width: 997px) {
    .presenter .presenter-details>header {
        padding-bottom:20px;
        margin-bottom: 32px
    }
}

.presenter .presenter-details>header:after {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 103px;
    height: 1px
}

@media screen and (min-width: 998px) {
    .presenter .presenter-details>header:after {
        background:rgba(245,245,245,0.4)
    }
}

@media screen and (max-width: 997px) {
    .presenter .presenter-details>header:after {
        background:rgba(72,72,72,0.4)
    }
}

.presenter .presenter-details>header .presenter-role {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    letter-spacing: 1.3px;
    margin-top: 0
}

@media screen and (min-width: 998px) {
    .presenter .presenter-details>header .presenter-role {
        font-size:33px;
        margin-bottom: 18px
    }
}

@media screen and (max-width: 997px) {
    .presenter .presenter-details>header .presenter-role {
        font-size:24px;
        margin-bottom: 12px
    }
}

.presenter .presenter-details>header .presenter-bio {
    letter-spacing: 0.6px
}

@media screen and (min-width: 998px) {
    .presenter .presenter-details>header .presenter-bio {
        font-size:16px
    }
}

@media screen and (max-width: 997px) {
    .presenter .presenter-details>header .presenter-bio {
        font-size:14px
    }
}

.project {
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.12);
    border: 1px solid #d6d6d6;
    overflow: hidden;
    margin-bottom: 20px;
    background:linear-gradient(#0F3443 , #34E89E);
    position: relative;
    transition: all .5s ease
}

.project:hover {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.22);
    border: 1px solid #b9b9b9
}

.project .container-fluid {
    background-color: #279c95;
    height: 300px;
    text-align: center;
    padding-top: 50px;
    padding-left: 28px;
    padding-right: 28px
}

.project .thumbnail {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px
}

.project .project-thumbnail {
    position: absolute;
    z-index: 1;
    font-size: 1.17rem;
    width: 100%;
    height: 182.7px;
    color: rgb(159, 35, 35);
    text-align: center;
    padding-top: 4.5rem;
    transition: all .5s ease
}

.project .project-thumbnail span {
    display: inline-block;
    padding: .35rem .7rem;
    border-radius: 3px
}

.project .project-thumbnail,.project .project-thumbnail span {
    background: rgba(185, 53, 53, 0.5)
}

.project .project-thumbnail:hover,.project .project-thumbnail span:hover {
    background: rgba(78, 43, 43, 0.65)
}

.project .project-link {
    display: block;
    padding-bottom: 3px
}

.project .project-linkless {
    cursor: default
}

.project .project-title {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 10px;
    margin: 0px 0 0px 0
}

.project .project-description {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    height: 60px;
    font-size: 20px;
    overflow: hidden;
    padding-top: 05px;
    color:white
}


.projects .project {
    margin-bottom: 1.75rem
}

.skill .skill-name {
    height: 2rem;
    overflow: hidden;
    font-size: 75%;
    margin-top: 8px;
    margin-bottom: 0;
    letter-spacing: 4px;
    text-transform: uppercase
}

.skill i {
    margin-right: .25rem;
    opacity: .75
}

.skills .skill {
    display: inline-block
}

@media screen and (min-width: 998px) {
    .skills {
        display:flex;
        flex-direction: column;
        flex-flow: column wrap;
        height: 192px
    }

    .skills .skill {
        width: 9rem;
        margin-right: 2rem;
        margin-bottom: 32px
    }
}

@media screen and (max-width: 997px) {
    .skills .skill {
        font-size:80%;
        width: 8rem;
        margin-right: .5rem;
        margin-bottom: 24px
    }
}



.thumbnail {
    background-color: hsl(264, 30%, 56%);
    position: center;
    height: 300.7px
}


.thumbnail .thumbnail-title {
    color: rgba(198, 39, 39, 0.8);
    text-align: center;
    padding-top: 5rem;
    white-space: nowrap;
    font-family: Montserrat, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1.3px
}


img {
    border: 0px solid #ddd; /* Gray border */
    border-radius: 5px;  /* Rounded border */
    padding: 1px; /* Some padding */
    width: 350px;
    height: 300px; /* Set a small width */
  }

  img:hover {
    box-shadow: 2px 4px 3px 4px rgba(152, 129, 27, 0.5);
  }



  /* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
    background-color: transparent;
   
    border: 1px solid #874747;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-box-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-box-back {
    background-color: rgb(79, 131, 183);
    color: rgb(207, 186, 64);
    font-family:'Times New Roman', Times, serif;
    transform: rotateY(180deg);
  }
